/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

/*a{
    color: #F00;
}*/

:root{
    /*font*/
    --reg-font: "Arial";

    /*color*/
    --reg-color: purple;

    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;

    /*image*/
    --reg-img-width: 200px;
    --reg-img-height: 200px;

    /*text block*/
    --reg-textblock-width: 500px;
    --reg-textblock-height: 200px;
}

.link-button-container a{
    width: 200px;
    padding: 20px;

    /*stops the button going truogh the image*/
    position: relative;
    top: 20px;

    color: #FFF;
    background-color: var(--reg-color);

    /*rounding*/
    border-radius: 10px;

    /*box-shadow*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    
    /*transition*/
    transition: all 0.5s ease;

    /*no underline*/
    text-decoration: none;
}

.link-button-container a:hover{
    background-color: #AF1F16 !important;
    text-decoration: none;
}

#second-button{
    background-color: var(--dark-brown);
}

#third-button{
    background: linear-gradient(10deg, var(--lighter-red) 0%, var(--darker-red) 34%, var(--dark-brown) 100%);
}

#third-button:hover{
    background:linear-gradient(10deg, #AF1F16 0%, #AF1F16 100%);
}

.standard-img{
    height: var(--reg-img-height);
    width: var(--reg-img-width);
}

.op09 h2{
    color: var(--reg-color);
}

.op09 p{
    color: var(--lighter-red);
    width: var(--reg-textblock-width);
}

a:visited{
    color:green;
}

a:link{
    color: #F00;
}

a:hover{
    color: hotpink;
}

a:active{
    color: blue;
}

.link-overwrite a:visited{
    color: yellow;
}

.link-overwrite a:hover{
    color: orange;
}


.site-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color{
    background-color: indigo;
    color: #FFF;
}

.site-square{
    width: 200px;
    height: 200px;
}

.show-color{
    background-color: aquamarine;
    color:coral;
}

.cascading-parent{
    font-size: 22px;
    color: #F0F;
    background-color:aqua;
}  

.cascading-parent h2{
    color: #CCC;
}

.cascading-parent a{
    color: #FD0;
    font-size: 32px;
}

.cascading-child{
    font-size: 20px;
    background-color: #000;
    width: 200px;
    height: 200px;
}

.cascading-child2{
    background-color: rgba(255, 0, 0, 0.4);
    width: 100px;
    height: 100px;
    font-size: 15px;
    color: coral;
    margin-left: 50px;
    text-align: center;
}

.red-body{
    width: 80px;
    height: 80px;
    color: #FFF;
    background-color: rgba(255, 0, 0, 0.4);
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    display: inline-block;
}

#person{
    background-color: #F00;
    width: 80px;
    height: 80px;
    color: green;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    display: inline-block;
}

